@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.a{

        width: 200px;
        height:200px;
        margin: 10px;
        margin-left: 50px;
        transition: 0.7s ease;
        background-color:white;
        box-shadow: 0 5px 25px rgba(1 1 1 /15%);
        border-radius: 10px;
        cursor: pointer;
        transition: 0.7s ease;
}

.a:hover { 
    transform: scale(1.2);
}
.baslik{
    display: flex;
    justify-content: center;
    color:red;
    padding-top:100px; 
}
header{
    background-color: aliceblue;
    width: 100%;
    position:fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:10px 200px
}
.logo{
    text-decoration: none;
    color:crimson;
    text-transform: uppercase;
    font-weight:700;
    font-size:1.8em;
}
.navigation a{
    text-decoration: none;
    color: crimson;
    font-weight:500;
    font-size:1.1em;
    padding-left:30px;
}
.navigation a:hover{
    color:rgb(137, 55, 78);
}
#gallery-model .model-img{
    width: 100%;
     margin:100px;

}
ul.breadcrumb{
    background-color: rgb(222, 229, 234);
    list-style: none;
    font-size: 12px;
    padding: 15; 
    width: 100%;
    padding-top: 60px;
    padding-bottom:15;
    position:fixed;
    }
ul.breadcrumb li{
    display:inline-block;
    margin-top:5px;
    padding-left: 4px;
    color:#0a49f6;
    text-transform: uppercase;
     box-shadow: 0 5px 100px rgba(1 1 1 /15%);
     border-radius: 10px;
     transition: 0.7s ease;

}
ul.breadcrumb li:hover{
    transform: scale(1.1);
}
ul.breadcrumb li+li:before{
    content: "/\00a0";
    color:black
}
ul.breadcrumb li a{
    display:flex ;
     text-decoration: none;
     color:red;
     text-transform: uppercase;
     box-shadow: 0 5px 100px rgba(1 1 1 /15%);
     border-radius: 10px;
     font-weight: 600; 
     transition: 0.7s ease;

}
ul.breadcrumb li a:hover{
    transform: scale(1.1);

}

.footer{
    background-color: #000500;
    color:white;
    padding:1em;
    display: flex;
    justify-content: space-between;
    margin-top:50px
}
.footer-Title{
    font-size: 0.8em;
    font-weight: 600;
}
.footer-Title span{
    color:#0a49f6;
}
.footer div a{
    padding-right: 10px;
}



